{% extends 'base/base.html' %}

{% block content %}
<div class="container">
<div class="col-md-8 formulario ">
<form method="post">
	{% csrf_token %}
	<h3 class="bg-danger">¿Desea eliminar este producto? ==>{{ object.nombre }}</h3>	
	<table class="table table-bordered">
	<thead>
		<tr class="btn-primary text-center">
			<td>Codigo</td>
			<td>Nombre</td>
			<td>Descripcion</td>
			<td>Precio</td>
			<td>stocK</td>			
		</tr>
	</thead>
	<tbody>
	    <tr>
			<td>{{ producto.codigo }}</td>
			<td>{{ producto.nombre }}</td>
			<td>{{ producto.descripcion }}</td>
			<td>{{ producto.precio}}</td>
			<td>{{ producto.stock}}</td>
		</tr>
	</tbody>
</table> 
	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
	<a class= "btn btn-danger" href="{% url 'producto:producto_listar'%}">Cancelar</a>
</form>
 </div>
  </div>
{% endblock %}