{% extends 'base/base.html' %}
{% block content %}
<div class="container">
<table class="table table-bordered">
	<thead>
		<tr class="btn-primary text-center">
			<td>Codigo</td>
			<td>Nombre</td>
			<td>Descripcion</td>
			<td>S/.Precio</td>
			<td>Stock</td>
			<td>Opciones</td>	
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for producto in object_list %}
		<tr>
			<td>{{ producto.codigo}}</td>
			<td>{{ producto.nombre }}</td>
			<td>{{ producto.descripcion}}</td>
			<td>{{ producto.precio}}</td>
			<td>{{ producto.stock }}</td>
				<td class="text-center">
				<a href="{% url 'producto:producto_crear' %}" class=" btn btn-primary btn-sm"> <li class="fa fa-plus"></li> Agregar</a>
				<a href="{% url 'producto:producto_editar' producto.id %}" class="btn btn-success btn-sm"><li class="fa fa-pencil"></li> Editar</a>
				<a href="{% url 'producto:producto_delete' producto.id %}" class="btn btn-danger btn-sm"><li class="fa fa-trash"></li> Delete</a>	
				</td>			
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de productos</h1>
		{% endif %}
	</tbody>
</table> 
</div>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
     </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}" class="activate">Next</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}
